<main class="mx-auto max-w-screen-sm grid gap-y-16 px-4 py-10">
  <aplz-ui-logo size="lg"></aplz-ui-logo>

  <h2 class="text-center text-2xl font-medium max-w-64 mx-auto">
    Iniciar sesión como comerciante
  </h2>

  <form class="grid gap-y-16" [formGroup]="form" (ngSubmit)="login()">
    <div class="grid gap-y-16">
      <aplz-ui-outlined-text-field
        aplazoNoWhiteSpace
        aplazoLowercase
        label="Correo electrónico o Usuario"
        id="username"
        placeholder="Escribe tu correo electrónico"
        [control]="username"
        [error]="username.invalid && username.touched"
        [helperText]="username.touched ? username.getError('custom') : ''"
      >
      </aplz-ui-outlined-text-field>

      <aplz-ui-outlined-text-field
        label="Contraseña"
        id="password"
        type="password"
        placeholder="Escribe tu contraseña"
        [control]="password"
        [error]="password.invalid && password.touched"
        [helperText]="password.touched ? password.getError('custom') : ''"
      ></aplz-ui-outlined-text-field>
    </div>
    <button
      [rounded]="true"
      aplzButton
      aplzAppearance="stroked"
      aplzColor="dark"
      size="md"
      type="submit"
    >
      Iniciar sesión
    </button>
  </form>
</main>
